
.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* Shared style */
/* *{
  margin: 0;
  padding: 0;
} */
.display-flex{
  display: flex;
}
/* dark 02 */
.text-gray{
  color:#424242 ;}
/* Dark 03 */
.text-light-gray{
  color:#727272 ;
}
.bg-light{
  background-color: rgba(255, 144, 14, 0.1);
}
.text-primar{
  color: #FF900E;
}
.btn-primary{
  background-color: #FF900E;
  color: #FFFFFF;
  padding: 20px 25px;
  font-size: 600;
  font-size: 1.25rem;
  border: none;
  border-radius: 8px;
}
main{
  max-width: 1440px;
  margin: 0 auto;
}

main > section{
  margin-top: 130px;
}

/* header style */

/* navbar related  Style */
.navbar{
justify-content: space-between;
align-items: center;
}
.brand{
  font-weight: 700;
  font-size: 3rem;
}
.nav-item{
  list-style: none;
  margin-right: 30px;
}
.nav-link{
  text-decoration: none;
}
.navbar,.banner{
  max-width: 1440px;
  margin: 0 auto;
}
.banner-content{
  max-width: 850px;
  margin: 0 auto;
  margin-bottom: 50px;
  text-align: center;
}
.banner-title{
  font-weight: 700;
  font-size: 4rem;
}
.banner-image{
  width: 100%;
}


/* Team and feature related styled */

.teams{
  align-items: center;
}
.team-img-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 24px;
}

.our-fetures{
  margin-left: 130px;
  max-width: 530px;
}

.feature-title{
  font-size: 2.8rem;
  font-weight: 700;

}

#quick-list{
  font-weight: 500 !important;
}



 

/* Responsive media query  */
@media screen and (max-width:576px){
  .navbar,.nav-links,.teams{
    flex-direction: column;
  }

  .team-img-container{
    grid-template-columns: repeat(1,1fr);
  }


.our-fetures{
 margin-left: 20px ;
}







}
/* mediam size device */
@media screen and (min-width:576px) and (max-width:992px){
  .teams{
    flex-direction: column;
  }

  .our-fetures{
    margin-left: 50px auto;
  }
}